<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>

            <form  class="form" v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Nombre de usuario">
                <br>
                
                <input type="text" v-model="user.name" placeholder="Nombre completo">
                <br>

                <input type="email" v-model="user.email" placeholder="Email">
                <br>

                <input type="text" v-model="user.phone" placeholder="Telefono">
                <br>

                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>                

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                phone: ""
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://reservarapp-be-mintic-p69-g3.herokuapp.com/user/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");  
                });
        }
    }
}
</script>


<style>

    .signUp_user{
        margin: 0;
        padding: 0%;
        height:85vh;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBF8FF;
    }

    .container_signUp_user {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 25%;
        height: 75%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signUp_user h2{
        color: #140F1D;
        font-size:30px;
        font-weight: bold;

    }

    .signUp_user form{
        width: 70%;
        
    }

    .signUp_user input{
        height: auto;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #140F1D;
    }

    .signUp_user button{
        width: 100%;
        height: 40px;
        width: 220px;
        padding: 5px;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        background-color: #DBEFF3;
        color: rgb(12, 12, 12);
        font-weight: bold;
        cursor: pointer;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }

    .signUp_user button:hover{
        color: #E5E7E9;
        background: crimson;
        /* border: 1px solid #283747; */
    }

</style>